# Byte-compiled / optimized / DLL files / pip / IDE
__pycache__/
*.py[cod]
*$py.class
src/
.idea/
.vscode/

# Config
config.ini
# Do not commit credentials!
config.json
.DS_Store
tweetStats.sh
# venv does not belong into the repo:
venv/